<!DOCTYPE html>
<html>
<head>
	<title>IPv4 Guessing Game</title>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>	<!-- see vuejs.org/v2/cookbook/using-axios-to-consume-apis.html -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>	<!-- development version, includes helpful console warnings -->
</head>
<body>
	<div id="app">

		<div>
			What is the network of
			<kbd>{{ hint }}</kbd>
			<br>

			Your answer:
			<input v-model="user_input">
			<br>

			<div v-if="user_input.length !== 0">
				<button v-on:click="validate">Validate</button>

				<button
					v-if="IP_is_valid === 'yes'"
					v-on:click="display_answer"
				>Check Answer</button>
				<span
					v-else-if="IP_is_valid === 'no'"
					style="color: red"
				>Not a valid IP Network!</span>

			</div>
		</div>

		<div
			v-if="IP_is_valid === 'yes' && user_input.length !== 0 && show_answer"
		>
			<h4>Result:</h4>
			<span
				v-if="user_input === answer"
				style="color: green"
			>YES! You got it, rock-star!</span>
			<p
				v-else
				style="color: red"
			>
				Mission failed. The hospital crashed, now you're fired.<br>
				The correct answer is: {{ answer }}
			</p>
		</div>

		<button v-on:click="new_game">Start New Game</button>

	</div>
</body>
<script type="text/javascript">
	const app_home = 'http://127.0.0.1:8080/';
	let app = new Vue({
		el: '#app',
		data: {
			hint: '',
			answer: '',
			user_input: '',
			show_answer: false,
			IP_is_valid: 'no response'
		},
		methods: {
			// give_feedback: function () {this.user_input.length !== 0},
			// correct_answer: function () {this.user_input === this.answer},
			display_answer: function () {
				this.show_answer = true;
			},
			validate: function () {
				// let r = get('check_validity', {'sample_ip': this.user_input});
				// this.IP_is_valid = r.IP_is_valid;
				axios
				.get('http://127.0.0.1:8080/check_validity', {
					params: {
						sample_ip: this.user_input
					}
				})
				.then(response => {
					this.IP_is_valid = response.data.IP_is_valid
				})
				.catch(error => console.log(error));
			},
			new_game: function () {
				// let r = get('new_question');
				// this.hint = r.hint;
				// this.answer = r.answer;
				axios
				.get('http://127.0.0.1:8080/new_question')
				.then(response => {
					this.hint = response.data.hint;
					this.answer = response.data.answer;
				})
				.catch(error => console.log(error));
				// reset other vars to renew game
				this.show_answer = false;
				this.IP_is_valid = 'no response';
			}
		},
		beforeMount() {	// see stackoverflow.com/a/40714462
			this.new_game();
		}
	});
</script>
</html>
